code/software/qctool/build/default/components/SNPSummaryComponent/libSNPSummaryComponent.a filter=lfs diff=lfs merge=lfs -text
code/software/qctool/build/default/genfile/all_tests filter=lfs diff=lfs merge=lfs -text
code/software/qctool/build/release/components/SNPSummaryComponent/libSNPSummaryComponent.a filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*qctool_v2.0.7 filter=lfs diff=lfs merge=lfs -text
*/qctool/build/release/genfile/all_tests filter=lfs diff=lfs merge=lfs -text
analysis/2020-05-29_09_crossovers/windows_x_crossovers_weighted.txt filter=lfs diff=lfs merge=lfs -text
*.html linguist-detectable=false
*.Rmd  linguist-detectable
